{% extends 'Myinventoryapp/base.html' %}
{% load static %}

{% block content %}
    <div class="container-fluid col-10">
        <div class="card">
            <div class="card-header">
                <h4>Add Bottle:</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <form method="POST" action="{% url 'add_bottle' id=x.pk %}">{% csrf_token %}
                        <div class="form-group row my-2">
                            <label for="sku" class="col-2 col-form-label">SKU:</label>
                            <div class="col-10">
                                <input type="text" class="form-control" name="sku">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="brand" class="col-2 col-form-label">Brand:</label>
                            <div class="col-10">
                                <input type="text" class="form-control" name="brand">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="cost" class="col-2 col-form-label">Cost:</label>
                            <div class="col-4">
                                <input type="text" class="form-control" name="cost">
                            </div>
                            <label for="size" class="col-2 col-form-label">Size:</label>
                            <div class="col-4">
                                <input type="text" class="form-control" name="size">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="msize" class="col-2 col-form-label">Mouth Size:</label>
                            <div class="col-4">
                                <input type="text" class="form-control" name="msize">
                            </div>
                            <label for="color" class="col-2 col-form-label">Color:</label>
                            <div class="col-4">
                                <input type="text" class="form-control" name="color">
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="supplier" class="col-2 col-form-label">Supplied by:</label>
                            <div class="col-10">
                                <select class="form-select" name="supplier">
                                    <option selected>- Select -</option>
                                    {% for s in suppliers %}
                                    <option>{{ s.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2">
                            <label for="cquantity" class="col-3 col-form-label">Current Quantity:</label>
                            <div class="col-4">
                                <input type="text" class="form-control" name="cquantity">
                            </div>
                            <div class="col text-center">
                                <button type="submit" class="btn btn-primary">Confirm</button>
                                <a href="{% url 'view_supplier' id=x.pk %}" class="btn btn-secondary active">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}