{% extends 'Myinventoryapp/base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid col-8">
    <a href="{% url 'view_supplier' id=x.pk %}" class="btn btn-secondary active col-12 mb-1">Back</a>
    <div class="card">
        <div class="card-header">
            <h6>Account Management:</h6>
        </div>
        <div class="card-body">
            <h4>Account Details</h4>
            <p>Username: {{ x.username }}</p>
            <p>Password: {{ x.password }}</p>
            <div class="row">
                <div class="col">
                    <a href="{% url 'change_password' id=x.pk %}" class="btn btn-success active">Change Password</a>
                    <a href="{% url 'delete_account' id=x.pk %}" class="btn btn-danger active">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}