{% extends 'Myinventoryapp/base.html' %}
{% load static %}

{% block content %}
    {% for message in messages %}
        <div class="container-fluid col-7">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                {{ message }}
            </div>
        </div>
    {% endfor %}
    <div class="container-fluid col-7">
        <div class="card">
            <div class="card-header">
                <h5>Sign Up:</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="{% url 'signup' %}">{% csrf_token %}
                    <div class="row">
                        <div class="form-group">
                            <label for="uname">Username:</label>
                            <input type="text" class="form-control my-2" name="uname">
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group">
                            <label for="pword">Password:</label>
                            <input type="password" class="form-control my-2" name="pword">
                        </div>
                    </div>
                    <div class="my-2 mt-3">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}